.searchinput{
    right:2vw ;
    position:absolute;;
    width: 80vw;;
    background-color: beige;
}
.header{
    display: flex;
    position: relative;
    margin-top: 2vh;
}
.blur{
    filter: blur(4px);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
}
.search{
    width: 100%;
    background-color: rgb(121, 121, 26);
}